h1, h2, h3, h4, h5 {
    font-family: sans-serif;
}

h1 {
    font-size: 25px;
}

h1 a {
    text-decoration: none;
    color: black;
}

#main {
    margin: 0 auto;
    width: 700px;
}



ul.menu > li {
    display: inline-block;
    margin-left: -1em;
}

ul.menu > li a {
    text-decoration: none;
}

#result h2 {
    font-size: 16px;
    background-color: lightblue;
}

#result > ul {
    list-style-type: none;
    padding: 0;
}

#result ul {
    margin-bottom: 1.5em;
}

#result ul > li > ul > li > ul > li:first-child {
    font-weight: bold;
}

.book-result {
    display: none;
}


#sidebar {
    float: right;
    max-width: 300px;
}

#sidebar li {
    list-style-type: none;
}

.book-title-meta {
    font-size: x-small;
}

#error-message {
    display: none;
    border: solid salmon 1px;
    border-radius: 5px;
    background-color: lightsalmon;
    padding: 0.5em;
    margin: 0.5em 0;    
}


